<div class="profbox">
  <h5 style="margin: 30px;  padding-top: 30px">Edit</h5>
      <%= form_for(@user) do |f| %>
        <table style="width:50%; margin-left:10px;" class="table table-condensed" cellspacing="0" cellpadding="5" >
          <tr>
            <td border-style: none; style="background: rgba(0,0,0,0.1);" style="border-style: none;">name</td>
            <td valign="top"  style="border-style: none; width:300px;">
              <%= f.text_field :last_name, {size:"10"} %><%= f.text_field :first_name,  {size:"10"} %>
            </td>
          </tr>
          <tr>
            <td style="background: rgba(0,0,0,0.1);" style="border-style: none;">kana</td>
            <td  valign="top"  style="border-style: none; width:300px;">
              <%= f.text_field :last_name_kana,  {size:"10"} %><%= f.text_field :first_name_kana,  {size:"10"} %>
            </td>
          </tr>
          <tr>
            <td style="background: rgba(0,0,0,0.1);" style="border-style: none;">adress</td>
            <td  valign="top"  style="border-style: none; width:150px;">
              <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control  btn-default' ,style:"width:120px" %>
            </td>
          </tr>
          <tr>
            <td style="background: rgba(0,0,0,0.1);" style="border-style: none;">prof img</td>
            <td  valign="top"  style="border-style: none; width:300px;">
              <%= f.attachment_field :Image %>
            </td>
          </tr>
          <tr>
            <td style="background: rgba(0,0,0,0.1);" style="border-style: none;">introducrion</td>
            <td  valign="top"  style="border-style: none; width:300px;">
              <%= f.text_area :introduction %>
            </td>
          </tr>
          <tr>
            <td style="background: rgba(0,0,0,0.1);" style="border-style: none;">mail</td>
            <td  valign="top"  style="border-style: none; width:150px;">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </td>
          </tr>
          <tr>
            <td style="background: rgba(0,0,0,0.1);" style="border-style: none;">phone number</td>
            <td valign="top"  style="border-style: none; width:150px;">
              <%= f.text_field :phone_number %>
            </td>
          </tr>
          <% end %>
        </table>
        <div class="submit-botton" style="padding:30px;">
          <%= f.submit "Update you!!" %>
        </div>
      <% end %>
</div>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %> errors.messages.not_saved</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


