 <h2 class="post-headline" style="border-bottom: 8px solid #a9a9a9; padding-top: 30px;  color:#808080; font-family: Chalkduster; ">検索結果</h2>
<% if @user_or_post == "1" %>
    <div class="search-result">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>イメージ</th>
                    <th>名前</th>
                    <th>住所</th>
                    <th>フォロー</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <th></th>
                        <th>
                            <%= attachment_image_tag user, :Image, format: 'jpeg', fallback: "no_image.jpg", size: '40x40', class: "img-circle" %></th>
                        <th><%= link_to user.last_name + user.first_name, user_path(user.id) %></th>
                        <th><%= user.prefectures %></th>
                        <th><%= "フォロー数: #{user.follower.count}" %><%= "フォロワー数: #{user.followed.count}" %></th>
                        <th>
                            <div id="user_<%= user.id %>">
                                <%= render 'relationships/follow', user: user %>
                            </div>
                        </th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

<% elsif @user_or_post == "2" %>
    <main class="clearfix">
    <!-----------------投稿一覧--------------->
        <section class="post" style="float:left;">
            <% @posts.each do |post| %>
                <div class="post-box">
                    <div class="pict"><%= attachment_image_tag post, :image %></div>
                    <% if post.transfer != "not" %>
                        <span class="post-laber">里親募集中/<%= post.transfer_land %></span>
                    <% end %>
                    <div class="post-detail" style="margin-top: 30px;">
                        <!-------------いいね機能-------------->
                        <div id="post_<%= post.id %>">
                            <%= render 'posts/favorite', post: post %>
                        </div>
                        <span class="category"><%= post.pet_genres %>/<%= post.pet_name %>/<%= post.pet_age %>/<%= post.created_at.strftime('%Y.%m.%d') %></span>
                        <div class="post-user-name">by...<%= attachment_image_tag post.user, :Image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg", class: "img-circle pull-left profile-img" %><%=link_to "#{post.user.last_name}" + "#{post.user.first_name}", user_path(post.user_id) %></div>
                    </div>
                    <p class="post-text"><%= post.body %></p>
                </div>
            <% end %>
　　　　　</section>
    </main>
<% end %>