
<p><%= flash[:update] %></p>
<p><%= flash[:notice] %></p>
<p><%= flash[:destroy] %></p>

<!-------------user情報------------->
  <div class="container" style="margin-top: 100px;">
  	<div class="row">
    	<div class="col-5">
        	<h2 style="border-bottom: 8px solid #c0c0c0; color:#808080; font-family: Chalkduster; ">User info</h2>
        	<%= attachment_image_tag @user, :Image, :fill, 80, 80, format: 'jpeg',fallback: "no_image.jpg", class: "img-circle pull-left profile-img" %>
        	<table class="table">
           	<tbody>
      				<tr>
        				<th>name</th>
        				<th><%= "#{@user.last_name}" + "#{@user.first_name}" %></th>
      				</tr>
      				<tr>
        				<th>introduction</th>
        				<th><%= @user.introduction %></th>
      				</tr>
      				<tr>
      			    <th>prefecture</th>
      				<th><%= @user.prefectures %></th>
      				</tr>
              <tr>
                <th>follows</th>
                <th><%= link_to " #{@user.follower.count}" , follows_path(@user.id), id:"follower_#{@user.id}" %></th><!--一意なidの指定-->
              </tr>
              <tr>
                <th>followers</th>
                <th><%= link_to "#{@user.followed.count}", followers_path(@user.id), id:"followed_#{@user.id}" %></th>
              </tr>
              <!-------------------follow機能------------------->
              <tr>
                    <% unless @user == current_user %>
                      <th>
                        <div id="user_<%= @user.id %>">
                          <%= render 'relationships/follow', user: @user %>
                        </div>
                      </th>
                    <% end %>
                </th>
              </tr>
            </tbody>
  			  </table>
          <% if @user == current_user %>
      			 <%= link_to "edit", edit_user_path(@user.id), class: "btn btn-primary" %>
    		  <% else %>
      			 <%=  link_to "", user_path(current_user.id), class: "col-xs-6 btn btn-default glyphicon glyphicon-wrench" %>
    		  <% end %>
          <!----------------chat room------------------>
          <% unless @user.id == current_user.id %>
            <% if @is_room == true %>
              <%= link_to 'chat room', room_path(@room_id),class: "far fa-envelope" %>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "chat room", class: "far fa-envelope"%>
              <% end %>
            <% end %>
          <% end %>
		  </div>
	  </div>
  </div>




<!--------------userの投稿一覧------------->
    <main class="clearfix">
        <section class="post">
            <h2 class="post-headline" style="border-bottom: 8px solid #c0c0c0; color:#808080; font-family: Chalkduster; ">Post index</h2>
            <div class="post-box" style="padding-top:30px;">
              <div class="post-item clearfix">
                    <% @user.posts.each do |post| %>
                        <div class="post-box">
                            <div class="pict"><%= attachment_image_tag post, :image %></div>
                            <% if post.transfer != "not" %>
                              <span class="post-laber">里親募集中</span>
                            <% end %>
                            <div class="title" style="margin-top: 30px;">
                              <!---------------いいね機能-------------->
                              <div id="post_<%= post.id %>">
                                <%= render 'posts/favorite', post: post %>
                              </div>
                              <span class="category"><%= post.pet_genres %>/<%= post.pet_name %>/<%= post.pet_age %>/<%= post.created_at.strftime('%Y.%m.%d') %></span>
                                <div class="post-user-name">by..<%=link_to "#{post.user.last_name}" + "#{post.user.first_name}", user_path(post.user_id) %></div>
                            </div>
                            <p class="post-text"><%= post.body %></p>
                            <div class="post-edit" style="position:left; float:left; margin:30px 0;">
                              <% if @user == current_user %>
                                <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-warning" %>
                                <%= link_to "Destroy", post_path(post.id), method: :delete, "data-confirm" => "Are you sure?",class: "btn btn-danger"  %>
                              <% end %>
                            </div>
                        </div>
                    <% end %>
              </div>
            </div>
        </section>
    </main>

