<p style="color:red;"><%= flash[:update] %></p>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 style="margin:30px;">会員一覧画面</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th bgcolor="#d3d3d3">会員id</th>
            <th bgcolor="#d3d3d3">氏名</th>
            <th bgcolor="#d3d3d3">メールアドレス</th>
            <th bgcolor="#d3d3d3">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to "#{user.last_name}" + "#{user.first_name}", edit_admins_user_path(user.id) %>
              </td>
              <td><%= user.email %></td>
              <td>
                <% if user.deleted_at.present? %>
                  <div class="user-status">
                    <%= "無効会員" %>
                  </div>
                <% else %>
                  <%= "有効会員" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
