<main class="clearfix">
    <!-----------------投稿一覧--------------->
    <section class="post" style="float:left;">
        <h2 class="post-headline" style="border-bottom: 8px solid #e6e6fa; color:#808080; font-family: Chalkduster; ">Post index</h2>
        <div class="post-box" style="padding-top:30px;">
            <div class="post-item clearfix">
                <% @posts.each do |post| %>
                    <div class="post-box">
                        <div class="pict"><%= attachment_image_tag post, :image %></div>
                        <span class="pictname">step1</span>
                        <div class="title" style="margin-top: 30px;">
                                <span class="category"><%= post.pet_genre %>/<%= post.pet_name %>/<%= post.pet_age %>/<%= post.created_at.strftime('%Y.%m.%d') %></span>
                                <div class="post-user-name">by..<%=link_to "#{post.user.last_name}" + "#{post.user.first_name}", user_path(post.user_id) %></div>
                        </div>
                        <p class="post-text"><%= post.body %></p>
                        <div class="post-destroy"><%= link_to "削除", admins_post_path(post.id), method: :DELETE, class:"btn btn-danger" %></div>
                    </div>
                <% end %>
            </div>
        </div>
    </section>
</main>