<p><%= flash[:alert] %></p>
<h4 class="rooms_title">Chat room</h4>
<div class = "container">
  <% @entries.each do |e| %>
    <div id="message_user">
      <%= attachment_image_tag e.user, :Image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg", class: "img-circle pull-left profile-img" %>by..<%= link_to "#{e.user.last_name}" + "#{e.user.first_name}", user_path(e.user_id) %>
    </div>
  <% end %>

  <div class="message_submit">
    <%= form_for @message,remote: true do |f| %>
      <%= f.text_area :content, placeholder: "メッセージを入力して下さい" , size: 100, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %><!----どのroomからかを送る----->
         <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>

   <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= @message.errors.count %> errors.messages.not_saved</h2>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>


  <div class="message_list">
      <% @messages.each do |message| %>
          <%= render 'rooms/message', message:message %>
      <% end %>
  </div>
</div>
