<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: @post.errors.count,
                 resource: @post.class.model_name.human.downcase)%>
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h4 style="margin:30px; border-bottom: 8px solid #e6e6fa; color:#a9a9a9; font-family: Chalkduster;">Edit</h4>
        <div class="container" >
            <%= form_for(@post) do |f| %>
                <table style="width:100px; margin-left:10px;" class="table table-condensed" cellspacing="0" cellpadding="5" >
                    <tr>
                        <td><%= f.label :pet_name %></td>
                　　     <td><%= f.text_field :pet_name, {size:"10"} %></td>
            　　     </tr>
                    <tr>
                        <td><%= f.label :age %></td>
                        <td><%= f.select :pet_age, Post.pet_ages.keys, {prompt: '選択してください'}, class: 'form-control  btn-default' ,style:"width:150px" %></td>
            　　     </tr>
            　　     <tr>
                　　     <td><%= f.label :genre %></td>
                　　     <td><%= f.select :pet_genre, Post.pet_genres.keys, {prompt: '選択してください'}, class: 'form-control  btn-default' ,style:"        width:150px" %></td>
            　　     </tr>
            　　     <tr>
                　　     <td><%= f.label :image %></td>
                　　     <td><%= f.attachment_field :image %></td>
            　　     </tr>
            　　     <tr>
                　　    <td><%= f.label :body %></td>
                　　    <td><%= f.text_area  :body %></td>
            　　    </tr>
            　　    <tr>
                　　  <td></td>
                　　  <td><%= f.submit 'Update back' %></td>
            　　    </tr>
        　　　　  </table>
    　　     <% end %>
　　　　  </div>
