<p><%= flash[:failed] %></p>
<p><%= flash[:create] %></p>

<!----------------main-------------------->

<main class="clearfix">
 <!-------------投稿------------->
    <div class ="row">
        <div class = "col-xs-3" >
            <div class="sidebar" >
                <%= form_for(@post) do |f| %>
                    <table style="margin-left:10px;">
                    <tr>
                        <td><%= f.label :ペット名 %></td>
                　　     <td><%= f.text_field :pet_name, {size:"10"} %></td>
            　　     </tr>
                    <tr>
                        <td><%= f.label :年齢 %></td>
                        <td><%= f.select :pet_age, Post.pet_ages.keys, {prompt: 'select..'}, class: 'form-control  btn-default' ,style:"width:150px" %></td>
            　　     </tr>
            　　     <tr>
                        <td><%= f.label :"ジャンル" %></td>
                        <td><%= f.select :pet_genres, [["犬", "犬"], ["猫", "猫"], ["ウサギ", "ウサギ"], ["亀","亀"],["鳥","鳥"],["ハムスター", "ハムスター"],["ハリネズミ","ハリネズミ"],["その他","その他"]] %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :画像 %></td>
                        <td><%= f.attachment_field :image %></td>
            　　     </tr>
                    <tr><!-----クリックされた場合、host familyページにも投稿が表示される。------>
                        <td><%= f.label :譲渡 %></td>
                        <td><%= f.check_box :transfer, {}, "want", "not" %>＊譲渡を募集する場合は<i class="far fa-check-circle"></i></td>
                    </tr>
                    <tr><!-----クリックされた場合、host familyページにも投稿が表示される。------>
                        <td><%= f.label :譲渡地 %></td>
                        <td><%= f.text_field :transfer_land, {size:"10"} %>＊希望する譲渡地を記入してください</td>
                    </tr>
                    <tr>
                        <td><%= f.label :本文 %></td>
                        <td><%= f.text_area  :body %></td>
                    </tr>
                    <tr>
                        <td><%= f.submit '投稿' %></td>
                    </tr>
                    </table>
                    <% if @post.errors.any? %>
                        <h3>エラーが<%= @post.errors.count %>件あります</h3>
                        <ul>
                            <% @post.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    <% end %>
    　　         <% end %>
            </div>
        </div>

        <!-----------------投稿一覧--------------->
        <div class = "col-xs-9">
            <section class="post">
                <h2 class="post-headline">投稿一覧</h2>
                <% @posts.each do |post| %>
                    <div class="post-box">
                        <div class="post-pict"><%= attachment_image_tag post, :image %></div>
                        <% if post.transfer != "not" %><!-----transfer wantなら画像にlaberを表示----->
                            <span class="post-laber">里親募集中</span>
                        <% end %>
                        <div class="post-detail">
                            <!-------------いいね機能-------------->
                            <div id="post_<%= post.id %>">
                                <%= render 'posts/favorite', post: post %>
                            </div>
                            <span class="category"><%= post.pet_genres %>/<%= post.pet_name %>/<%= post.pet_age %>/<%= post.created_at.strftime('%Y.%m.%d') %></span>
                            <div class="post-user-name">by...<%= attachment_image_tag post.user, :Image, :fill, 30, 30, format: 'jpeg',fallback: "no_image.jpg", class: "img-circle pull-left profile-img" %><%=link_to "#{post.user.last_name}" + "#{post.user.first_name}", user_path(post.user_id) %></div>
                        </div>
                        <p class="post-text"><%= post.body %></p>
                    </div>
                <!----------------コメント機能----------------->
                    <div id="post_comments_<%= post.id %>">
                     <%= render 'posts/post_comment', post: post, post_comment: @post_comment %>
                    </div>
                <% end %>
            </section>
        </div>
    </div>
</main>
