<header class="navbar">
  <div class="container">
    <span style="color:#808080; padding-top:50px; margin-bottom: 30px; font-family: Chalkduster; font-size:30px;">AnimalGram</span>
    <ul class="nav">
      <li class="mx-3"><%= link_to 'Top', posts_path %></li>
      <% if admin_signed_in? %>
        <li class="mx-3"><%= link_to '管理者ログアウト', destroy_admin_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete %></li>
      <% else %>
        <% if user_signed_in? %>
          <li class="mx-3"><%= link_to 'Top', posts_path %></li>
          <li class="mx-3"><%= link_to "My page", user_path(current_user) %></li>
          <li class="mx-3"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="mx-3"><%= link_to 'Sign up', new_user_registration_path, class: "nav-link fas fa-edit" %></li>
          <li class="mx-3"><%= link_to 'Log in', new_user_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
          <li class="mx-3"><%= link_to '管理者ログイン', new_admin_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
          <li class="mx-3 nav-link" style="color: red;">管理者ログイン未済</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</header>


