<header class="navbar">
  <div class="container">
    <span style="color:#808080; padding-top:50px; margin-bottom: 30px; font-family: Chalkduster; font-size:30px;">AnimalGram</span>
    <ul class="nav">
      <li class="mx-3"><%= link_to 'Top', posts_path %></li>
      <% if admin_signed_in? %>
        <li class="mx-3"><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %></li>
        <li class="mx-3"><%= link_to 'ユーザー一覧', admins_users_path %></li>
      <% elsif user_signed_in? %>
          <li class="mx-3"><%= link_to "My page", user_path(current_user) %></li>
          <li class="mx-3"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li class="mx-3"><%= link_to 'Sign up', new_user_registration_path %></li>
          <li class="mx-3"><%= link_to 'Log in', new_user_session_path %></li>
          <li class="mx-3"><%= link_to '管理者ログイン', new_admin_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>


