<!DOCTYPE html>
<html>
  <head>
    <title>AnimalGram</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <style type="text/css">
      <!--a:link { color:#000000;, text-decoration:none; }a:visited { color:#000000; }-->
　　</style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      $(function(){
        $('.mx-3')
        .mouseover(function(){
          $(this).css("background", "#ffffff");
        })
        .mouseout(function(){
        $(this).css("background", "#d3d3d3");
        });
        });
    </script>

    <%= render 'layouts/header' %>
    <!---------main visual---------->
    <div class="main-visual">
      <div class="main-visual-content">
        <p class="main-visual-text">
         I think animals are the most amazing creatures.<br>
         they give unconditional love.<br>
         For me they are the role model for being alive.</p>
        <p class="main-visual-name">St. Augustine</p>
      </div>
    </div>


    <%= yield %>
    　　
    <!------------topに戻るボタン------------>
    <span id="back">
      <a href="#">
        <%= image_tag('arrow.png') %>
      </a>
    </span>

    <footer>
      <div class="col-xs-3 col-xs-offset-9" style="margin-top: 100px;">
        <p>CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
